.column {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: white;
}

.row, .column {
  user-select: none;
}

#container {
  display: flex;
}

.column:hover {
  background-color: black;
}

h4 {
    margin-bottom: 0;  
}

#eraser {
    background-color: lightpink;
}

#clearAll {
    background-color: black;
    color: white;
}

#dimensions {
    align-content: left;
}

#center {
    text-align: left;
}




